body{
margin:0;
background:#0f111a;
color:white;
font-family:sans-serif;
}

.container{
display:grid;
grid-template-columns:1fr 4fr 1fr;
height:100vh;
gap:10px;
padding:10px;
}

.leftPanel{
background:#1e1e2a;
padding:10px;
border-radius:10px;
}

.centerPanel{
display:flex;
flex-direction:column;
background:#14141f;
border-radius:10px;
}

.visualArea{
flex:7;
display:flex;
justify-content:center;
align-items:center;
}

.pianoArea{
flex:3;
display:flex;
flex-direction:column;
align-items:center;
}

.rightPanel{
display:flex;
flex-direction:column;
}

.sequencerArea{
flex:1;
background:#1e1e2a;
padding:10px;
border-radius:10px;
}

.effectsArea{
flex:1;
background:#1e1e2a;
padding:10px;
border-radius:10px;
}

.pianoKey{
width:50px;
height:150px;
background:white;
border:1px solid black;
display:flex;
align-items:flex-end;
justify-content:center;
cursor:pointer;
margin:2px;
}

button{
margin:4px;
padding:6px 10px;
border:none;
border-radius:6px;
background:#00ffd5;
cursor:pointer;
}

canvas{
width:90%;
height:250px;
background:#111;
}

footer{
text-align:center;
padding:10px;
background:#0f111a;
}
